@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Crimson+Text&family=Frank+Ruhl+Libre&family=Kaisei+Opti&family=Zilla+Slab&display=swap');
* {
  margin: 0;
  padding: 0rem; 
  /* font-family: 'Zilla Slab', serif; */
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Kaisei Opti', serif; */
  font-family: 'Frank Ruhl Libre', serif;
  /* font-family: 'Crimson Text', serif; */

  /* font-family: "Ibarra Real Nova", serif; */
  font-family: "Times New Roman", serif;
  color: rgb(46, 46, 46);
  color: rgb(36, 36, 36);
  /* color: rgb(40, 40, 40); */
  /* color: rgb(40, 40, 240); */
  /* background-color: rgb(255, 255, 255); */
}
body {
  /* padding: clamp(10px, 5vw, 10px) 0; */
  /* background-color: antiquewhite; */
  /* background-color: rgb(245, 245, 245); */
  padding-bottom: 20px;
}
h1 {
  font-size: clamp(2.72rem, calc(2.75rem + 2.56vw), 4.58rem);
}
h2{
  /* font-size: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem); */
  font-size: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
}h3 {
  font-size: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
}
h4 {
  
}
h5 {
  font-size:clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
  
}
h6 {
}

p, a, ul {
  font-weight: 300;
  margin-bottom: 10px;
  font-size:clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
  line-height: 1.4;
}
b {
  font-weight: bold;
} 
a {
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.fire-link:before,
.fire-link:after {
  content: '';
  transition: 220ms ease-out all;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: 0% 0%;
  height: 2px;
  width: 100%;
  transform: scaleX(1);
}
.fire-link:before {
  background:rgb(36, 36, 36);
}
.fire-link:after {
  background: #f12711;
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  background: linear-gradient(to right, #f5af19, #f12711);
  transform: scaleX(0%)
}
.fire-link:hover:after {
    transform: scaleX(100%);
}

.languages a {
  font-weight: lighter;
}
.languages a.fire-link:before,
.languages a.fire-link:after {
  bottom: 3px;
  background:rgb(36, 36, 36);
  height: 1px;
}
.languages a:hover.fire-link:before,
.languages a:hover.fire-link:after {
  height: 1px;
  background:rgb(36, 36, 36);

}
.languages a.active.fire-link:before {
  width: 100%;
}
.languages .fire-link:before {
  width: 0;
}

header {
  padding-top: clamp(20px, 20vw, 60px);
  padding-bottom: clamp(20px, 20vw, 60px);
  text-align: center;
  overflow: hidden;
}
header h1 {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

header h1::before,
header h1::after {
  content: '';
  position: absolute;
  background-color: rgb(46, 46, 46);
  left: -30px;
  top: 50%;
  width: 12px;
  height: 2px;
}
header h1::after {
  right: -30px;
  left: unset;
}
hr {
    border: none;
    border-top: 1px solid rgb(46, 46, 46);
    min-height: 1px;
    width: 100%;
    max-width: 650px;
    margin: 0px auto;
    margin-bottom: 20px;
}
section {
  margin: 0px auto;
  margin-bottom: 30px;
  margin-bottom: clamp(20px, 5vw, 50px);
  max-width: 650px;
  padding: 0 5vw;
}
ul { 
  margin-left: 20px
}
ul span {
  margin-left: -20px;
}
.profilepic {
  max-width: clamp(10px, 60vw, 250px);
  width: 60vw;
  margin: 0 auto;
  display: block;
  aspect-ratio: 1 / 1;
  /* display: none; */
}
section.work h3,
section.projects h3 {
  font-weight: bold;
  margin-bottom: 5px;
}
section.projects h3 {
  position: relative;
  width: fit-content;
  text-decoration: underline;
}
section.projects h3::after {
  display: none;
  content: '';
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  height: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  border-radius: 100px;
}

a.img-link {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  z-index: 3;
}

.contact a > * {
  flex-basis: 0%;
}

.logo-img:hover {
  cursor: pointer 
}
.logo-img {
  height: auto;
  width: 18px;
  aspect-ratio: 1 / 1;
}

/* Projects */
section .project {
  margin-bottom: 30px;
}

/* Links */
.links a {
  padding-left: 10px;
  padding-right: 10px;
}
.links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 600px) {
  .links {
    flex-wrap: wrap;
  }
  .links a:not(:last-child) {
    border-right: 1px solid black;
  }
}
.links a{
  flex-basis: 1;
}
.links a:hover {
  text-decoration: underline;
}

/* Contact */
section.contact a:hover {
  text-decoration: underline;
}
 
.languages {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  gap: 10px;
  font-weight: normal;
}
.languages a {
  margin: 0;
}

.job-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

section h3.light {
  font-weight: lighter;
}
.none {
  display: none !important;
}
.mode-toggler {
  background-color: #ffdb8c;
  padding: 10px 20px;
  position: fixed;
  left: 10px;
  top: 10px;
  border-radius: 12px;
}